-
  var content = {
    title: 'Masaki KOBAYASHI',
    description: 'Profile page of Masaki KOBAYASHI',
    keywords: 'Masaki KOBAYASHI, 小林 正樹, makky, makky3939, 筑波大学'
  }

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta('http-equiv'='X-UA-Compatible' 'content'='IE=edge')
  
    title= content.title
    meta(name='title' content=content.title)
    meta(property='og:title' content=content.title)
    meta(property='og:site_name' content=content.title)
    
    meta(name='description' content=content.description)
    meta(property='og:description' content=content.description)
    
    meta(name='keywords', content=content.keywords)
    
    meta(property='og:type' content='website')

    meta(property='og:url' content='https://www.u.tsukuba.ac.jp/~s1721668/')
      
  body
    article
      h1 Masaki KOBAYASHI (小林 正樹)

      section
        h2 Profile
        dl
          dt Name
          dd Masaki KOBAYASHI
          
          dt Date of birth
          dd 1994/10/13
          
          dt Place of birth
          dd Mito, Ibaraki Pref
      
      section
        h2 Affiliation
        ul
          li Univercity of Tsukuba
          li Graduate School of Library, Information and Media Studies (slis17)
          li Morishima Laboratory

      section
        h2 Publications
        ul
          li ワーカの成長を考慮した自己補正マイクロタスク割当て手法. 小林 正樹, 清水 伸幸, 森嶋 厚行. 科学技術振興機構 CREST 3プロジェクト合同シンポジウム, Jun. 2, 2017. (ポスター発表)
          li ワーカの成長を考慮した自己補正マイクロタスク割当て手法. 小林 正樹, 清水 伸幸, 森嶋 厚行. 第9回データ工学と情報マネジメントに関するフォーラム (DEIM), 2017
          li 購買履歴を用いたユーザ行動モデルの推定. 小林 正樹, 伏見 卓恭, 佐藤 哲司. 第8回データ工学と情報マネジメントに関するフォーラム (DEIM), 2016
          li 調理手順の頻出パターンに基づく入力支援手法の提案. 小林 正樹, 伏見 卓恭, 佐藤 哲司. データ工学研究会(DE2015)
          
      section
        h2 Contact
        dl
          dt Email
          dd s1311495 :#: klis.tsukuba.ac.jp
          
          dt Website
          dd
            a(href='https://makky.io', target='_blank') https://makky.io
          
          dt GitHub
          dd
            a(href='https://github.com/makky3939', target='_blank') https://github.com/makky3939

    footer
      p
        |&copy; Masaki KOBAYASHI (Source code:
        a(href='https://github.com/makky3939/s1721668', target='_blank') GitHub
        |)

    script!= "(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-73541046-1', 'auto');ga('send', 'pageview');"
    
    #task
      #group_id(style='display: none') -1
      #requester_id(style='display: none') 933
      
    script(src='https://crowd4u.org/js/jquery.js')
    script.
      $(function(){$.ajax({
      type: "GET",
      url: 'https://crowd4u.org/js/test.js',
      dataType: "script",
      xhrFields:{withCredentials: true},
      crossDomain: true,
      cache: false,
      timeout: 1000,
      error:function(){
      	var message =  $("<p></p>");
      	message.html("Crowd4U is under maintenance");
      	$("#task").append(message);
      },
      success:function(data){
          script_name = "https://crowd4u.org/js/get_task_remote.js"
          $("<script>")
              .attr("src", script_name)
              .appendTo("head");

           var css = $('<link rel="stylesheet" href="https://crowd4u.org/css/embedded_task.css">');
           css.appendTo("head");
      }
      })
      });
